<div style="position: relative; top: 0px;width: 100%;" data-ng-bind-html="ruta | html"></div>
<div ng-data="noticia" style="margin: 25px;">
	<div class="card" style="padding: 10px">
		<h4 style="text-align: center;">{{noticia.longTitle}}</h4>
		<img ng-src="{{noticia.imageSEO}}" style="width: 100%; position: relative; top: 0px;"/>
	</div>
</div>