<div id="ruta" style="float: left" data-ng-bind-html="ruta | html"></div>
<h2 ng-data="categoria" style="text-align: center">{{categoria}}</h2>
<loading ng-if="mostrar"></loading>
<div ng-animate="animate" class="card small hoverable" ng-repeat="noticia in noticias | filter: longTitle" style="border-radius:5px; display: block;width: 100%;height: 100% ;min-height:330px; max-width: 329px;float: left;margin:30px;background: black;">
		<div class="card-image waves-effect waves-block waves-light" style="background: black">
  			<a style="color:black;font-size: 15px;" href="{{url}}/{{noticia.id}}"><img class="activator" ng-src="{{noticia.imageSEO | img}}"  style="width: 100%;max-height: 200px !important;"></a>
		</div>
		<div class="card-content" style="background: black;">
			<p><a style="color:white;font-size: 15px;" href="{{url}}/{{noticia.id}}"><p style="font-size: 15px;position: relative;bottom: 0px;">{{noticia.title}}</p></a></p>
		</div>
</div>