<div style="position: relative; top: 0px; width: 100%" data-ng-bind-html="ruta | html"></div>
<div ng-data="noticia" style="margin: 25px;">
	<div class="card" style="padding: 15px">
		<h4>{{noticia.longTitle}}</h4>
		<p data-ng-bind-html="noticia.text| html"></p>
		<img ng-src="{{noticia.image}}" style=" margin: 0 auto;width: 100%"/>
	</div>
</div>