<div id="UltimasNoticias" style="max-height: 500px;">	
	<h2 ng-data="categoria" style="text-align: center">{{categoria1}}</h2>
	<loading ng-if="mostrar"></loading>
	<div ng-animate="animate" class="card small hoverable" ng-repeat="noticia in noticias | filter: longTitle" style="border-radius:5px; display: block;width: 100%;height: 100% ;min-height:330px; max-width: 329px;float: left;margin:30px;background: black;">
			<div class="card-image waves-effect waves-block waves-light" style="background: black">
	  			<a style="color:black;font-size: 15px;" href="#/{{noticia.id}}"><img class="activator" ng-src="{{noticia.imageSEO | img}}"  style="width: 100%;max-height: 200px !important;"></a>
			</div>
			<div class="card-content" style="background: black;">
				<p><a style="color:white;font-size: 15px;" href="#/{{noticia.id}}"><p style="font-size: 15px;position: relative;bottom: 0px;">{{noticia.title}}</p></a></p>
			</div>
	</div>
	<h5 ng-data="categoria" style="text-align: center"><a href="#/todas">Ver más</a></h5>
</div>
<div id="Imagenes" style="height: 50%; padding: 5px; float: right">
	<h2 ng-data="categoria" style="text-align: center">{{categoria2}}</h2>
	<div ng-animate="animate" class="card small hoverable" ng-repeat="imagen in imagenes| filter: longTitle" style="border-radius:5px; display: block;width: 100%;height: 100% ;min-height:330px; max-width: 329px;float: left;margin:30px;background: black;">
			<div class="card-image waves-effect waves-block waves-light" style="background: black">
	  			<a style="color:black;font-size: 15px;" href="#/Imagen/{{imagen.id}}"><img class="activator" ng-src="{{imagen.imageSEO | img}}"  style="width: 100%;max-height: 200px !important;"></a>
			</div>
			<div class="card-content" style="background: black;">
				<p><a style="color:white;font-size: 15px;" href="#/Imagen/{{imagen.id}}"><p style="font-size: 15px;position: relative;bottom: 0px;">{{imagen.title}}</p></a></p>
			</div>
	</div>
	<h5 ng-data="categoria" style="text-align: center"><a href="#/Imagenes">Ver más</a></h5>
</div>
<div id="Videos" style="height: 50%; padding: 5px; float: left">
	<h2 ng-data="categoria" style="text-align: center">{{categoria3}}</h2>
	<div ng-animate="animate" class="card small hoverable" ng-repeat="video in videos | filter: longTitle" style="border-radius:5px; display: block;width: 100%;height: 100% ;min-height:330px; max-width: 329px;float: left;margin:30px;background: black;">
			<div class="card-image waves-effect waves-block waves-light" style="background: black">
	  			<a style="color:black;font-size: 15px;" href="#/Video/{{video.id}}"><img class="activator" ng-src="{{video.imageSEO | img}}"  style="width: 100%;max-height: 200px !important;"></a>
			</div>
			<div class="card-content" style="background: black;">
				<p><a style="color:white;font-size: 15px;" href="#/Video/{{video.id}}"><p style="font-size: 15px;position: relative;bottom: 0px;">{{video.title}}</p></a></p>
			</div>
	</div>
	<h5 ng-data="categoria" style="text-align: center"><a href="#/Videos">Ver más</a></h5>
</div>