<div style="position: relative; top: 0px;width: 100%" data-ng-bind-html="ruta | html"></div>
<div ng-data="noticia" style="margin: 25px;">
	<div class="card" style="padding: 10px">
		<h4 style="text-align: center;">{{noticia.longTitle}}</h4>
		<div  style="width:100%;padding-top:64%;position:relative;border-bottom:1px solid #aaa;display:inline-block;background:#eee;background:rgba(255,255,255,0.9);"  >
			<iframe frameborder='0' ng-src="{{embedUrl | trustAsResourceUrl}}" name='{{noticia.longTitle}}' scrolling='no' style='width:100%;height:90%;position:absolute;left:0;top:0;overflow:hidden;'  ></iframe>
		    <div style="position:absolute;bottom:0;left:0;font-family:arial,helvetica,sans-serif;font-size:12px;line-height:1.833;display:inline-block;padding:5px 0 5px 10px;">
		        <span style="float:left;margin-right:10px;"><img
		                style="height:20px;width:auto;background: transparent;padding:0;margin:0;"
		                src="http://img.irtve.es/css/rtve.commons/rtve.header.footer/i/logoRTVEes.png"></span> <a
		            style="color:#333;font-weight:bold;" title="{{noticia.longTitle}}"
		            href="{{noticia.htmlUrl}}"><strong>{{noticia.longTitle}}</strong></a></div>
		</div>



	</div>
</div>