<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8" />
		<title>Noticias RTVE</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
		<script src="js/angular.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body style="background: #F2F2F2">
		<div id="cabecera" >
			<nav style="background: black; position: fixed;top: 0;z-index: 999999">
			    <div class="nav-wrapper" >
			      <a href="#/" class="brand-logo">RTVE</a>
			      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			      	<li>
			      		<div class="input-field" style="float: left;">
				          <input id="search" type="search" placeholder="Buscar" ng-model="longTitle" required>
				          <label for="search"><i id="ico_search" class="material-icons">search</i></label>
				          <i class="material-icons">close</i>
			        	</div>
			        </li>
			        <li><a href="#/todas">Ultimas Noticias</a></li>
			        <li><a href="#/Deportes">Deportes</a></li>
			        <li><a href="#/Tiempo">El Tiempo</a></li>
			        <li><a href="#/Cultura">Cultura</a></li>
			        <li><a href="#/Imagenes">Imagenes</a></li>
			        <li><a href="#/Videos">Videos</a></li>
			      </ul>
			      <ul class="side-nav" id="mobile-demo">
			        <li><a href="#/todas">Ultimas Noticias</a></li>
			        <li><a href="#/Deportes">Deportes</a></li>
			        <li><a href="#/Tiempo">El Tiempo</a></li>
			        <li><a href="#/Cultura">Cultura</a></li>
			        <li><a href="#/Imagenes">Imagenes</a></li>
			        <li><a href="#/Videos">Videos</a></li>
			      </ul>
			    </div>
		    </nav>
		</div>
		<div style="position: relative; left: 165px;width: 80%; top: 60px;" ng-view class="reveal-animation" >
			
		</div>
		<div id="pie">
			<script>
				$(".button-collapse").sideNav();
			</script>
		</div>
	</body>
</html>