table{
	margin: 0 auto;
	height: 50%;
	width: 100%;
	border: 1px solid gray;
}

tr:first-child {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

tr:not(#th):hover {background-color: #72CF75}
/*
#feedback { font-size: 1.4em; }
tbody .ui-selecting { background: #72CF75; }
tbody .ui-selected { background: #72CF75;}
tbody tr { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
*/