.default_color{background-color: #2196F3 !important}

.default_color_text{color: #2196F3 !important}

.icon-block {
    padding: 0 15px;
}

#intro, #work, #team {padding-top: 4rem;}


#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #2196F3;
}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.span_h2 {font-weight: 300;color: #2196F3;}

.text_b{color: #2196F3;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #2196F3;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #2196F3;}

.card-content a:hover {color: #2196F3;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem ;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p,{
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}

.shadow{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.parallax-container img{
	display: block !important;
}


/*  login style */
.body_login{
	  background:url(../images/bg.png);
	font-family: 'PT Sans', sans-serif;
	text-align: center;
}
.wrap{
	margin: 0 auto;
	width: 80%;
}
.body_login button,form li,a[type="button"],input[type="submit"],input[type="text"],.sixth-login input[type="submit"],.third-login input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
.body_login h1 {
	font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #B16669;
    padding-top: 2em;
}
.login-form h2 {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.5em;
  padding: 0;
  float: left;
  margin: 20px 20px;
}
.login-form {
  width: 30%;
 margin: 2% auto 6% auto;
}
.bottom-form {
  background: #ffffff;
  min-width: 360px;
  min-height: 325px;
  border: 1px solid#CFCFCF;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.top-form {
  background: #2196F3;
  min-width: 360px;
  height: 73px;
  	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.form-top {
  padding: 2em;
}
ul.form {
	width: 91%;
	margin: 0 auto;
}
ul.form li{
	list-style: none;
	margin-bottom: 25px;
}
input[type="email"] {
  font-family: 'PT Sans', sans-serif;
  width: 78%;
  padding: 0.5em 3em 0.5em 1em;
  color: #727f90;
  font-size: 16px;
  outline: none;
  background: #f9f9f9 url(images/msg.png)no-repeat 332px 15px;
  height: 35px;
  font-weight: 100;
  margin: 18px 0 0 0;
  border-radius: 4px;
  border: 1px solid#CFCFCF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

input[type="text"] {
  font-family: 'PT Sans', sans-serif;
  padding: 0.5em 3em 0.5em 1em;
  color: #727f90;
  font-size: 16px;
  outline: none;
  background: #f9f9f9 332px 15px;
  height: 35px;
  font-weight: 100;
  border-radius: 4px;
  border: 1px solid#CFCFCF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
input[type="password"]{
  font-family: 'PT Sans', sans-serif;
  width: 78%;
  padding: 0.5em 3em 0.5em 1em;
  color: #727f90;
  font-size: 16px;
  outline: none;
  background: #f9f9f9 url(images/key.png)no-repeat 334px 11px;
  height: 35px;
  border: none;
  font-weight: 100;
  margin: 18px 0 35px 0;
  border: 1px solid#CFCFCF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
input[type="submit"] {
	font-family: 'PT Sans', sans-serif;
	background: #2196F3;
	outline: none;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 1.3em;
	font-weight: 100;
	   width: 94%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
input[type="submit"]:hover {
	  background: #1A639F; 
	  color: #fff;
	      	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

input[type="button"] {
	font-family: 'PT Sans', sans-serif;
	background: #2196F3;
	outline: none;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 1.3em;
	font-weight: 100;
	   width: 94%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
input[type="button"]:hover {
	  background: #1A639F; 
	  color: #fff;
	      	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

a[type="button"] {
	font-family: 'PT Sans', sans-serif;
	background: #2196F3;
	outline: none;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 1.3em;
	font-weight: 100;
	width: 94%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
a[type="button"]:hover {
	  background: #1A639F; 
	  color: #fff;
	      	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.file{
	font-family: 'PT Sans', sans-serif;
	background: #2196F3;
	outline: none;
	border: none;
	color: #ffffff;
	padding: 10px 20px;
	font-size: 1.3em;
	font-weight: 100;
	   width: 94%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.file:hover {
	  background: #1A639F; 
	  color: #fff;
	      	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
button.twitter:hover {
  background: #55acee;
    	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
button.gp:hover {
    background: #db4437;
     padding: 26px 30px 22px 30px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
button.facebook:hover {
  background: #3b5998;
    	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.top-sc-icons {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	  float: right;
}
ul.top-sc-icons li {
  display: inline-block;
  border-left: 1px solid #1A7CCB;
  cursor: pointer;
  float: left;
}
ul.top-sc-icons li button {
  padding: 26px 30px 22px 30px;
  border: 0px;
  background-color: transparent;
  height: 73px;
  display: block;
}
.sign-up {
  background: #f3f3f3;
  padding: 20px 0;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  font-weight: 400;
}
.sign-up p {
  color: #7F7C7C;
    font-size: 16px;
}
.sign-up p button {
  color: #7ABFF7;
    margin-left: 6px;
}
.copyrights {
	text-align: center;
	color: #fff;
	padding-bottom: 8em;
}
/*--start-responsive-design--*/
@media (max-width:1440px){
input[type="text"] {
  padding: 0.5em 3em 0.5em 1em;
  font-size: 16px;
    background: #f9f9f9 url(../images/msg.png)no-repeat 284px 15px;
    margin: 25px 0 0 0;
}
input[type="password"] {
	  width: 79%;
  padding: 0.5em 3em 0.5em 1em;
  font-size: 16px;
  background: #f9f9f9 url(../images/key.png)no-repeat 286px 10px;
    margin: 25px 0 0px 0;
}
.sign-up {
    padding: 25px 0;
}
input[type="submit"] {
  width: 97%;
  }
}
@media (max-width:1366px){
.sign-up {
  padding: 25px 109px;
}
input[type="text"] {
  background: #f9f9f9 url(../images/msg.png)no-repeat 264px 16px;
}
input[type="password"] {
  width: 78%;
  background: #f9f9f9 url(../images/key.png)no-repeat 266px 12px;
}
}
@media (max-width:1280px){
input[type="text"] {
  width: 76%;
  background: #f9f9f9 url(../images/msg.png)no-repeat 240px 16px;
}
input[type="password"] {
  width: 76%;
  background: #f9f9f9 url(../images/key.png)no-repeat 242px 10px;
}
.sign-up {
  padding: 25px 97px;
}
ul.top-sc-icons li button {
  padding: 26px 29px 22px 28px;
  display: block;
}
button.gp:hover {
  padding: 26px 29px 22px 28px;
}
}
@media (max-width:1024px){
.login-form {
  width: 35%;
     margin: 3% auto 3% auto;
}
.sign-up {
  padding: 25px 98px;
}
.login-form h2 {
  margin: 23px 17px;
  font-size: 1.2em;
}
.copyrights {
  padding-bottom: 2em;
}
}
@media (max-width:768px){
.login-form {
   width: 47%;
     padding: 25px 100px;
       margin: 2% auto 6% auto;
}
input[type="submit"] {
  width: 98%;
}
input[type="text"] {
    background: #f9f9f9 url(../images/msg.png)no-repeat 254px 16px;
}
input[type="password"] {
  background: #f9f9f9 url(../images/key.png)no-repeat 255px 10px;
}
.form-top {
  padding: 1.5em;
}
h1 {
  padding-top: 5em;
}
.login-form h2 {
  margin: 25px 23px;
  font-size: 1.1em;
}
}
@media (max-width:640px){
.login-form {
  width: 54%;
}
.sign-up {
    padding: 25px 92px;
}
input[type="submit"] {
  width: 100%;
}
ul.top-sc-icons li button {
   padding: 26px 25px 22px 25px;
  display: block;
}
button.gp:hover {
   padding: 26px 27px 22px 27px;
  }
  input[type="text"] {
  background: #f9f9f9 url(../images/msg.png)no-repeat 246px 16px;
}
input[type="password"] {
  background: #f9f9f9 url(../images/key.png)no-repeat 249px 10px;
}
}
@media (max-width:480px){
.login-form {
  width: 74%;
  padding:0;
}
.sign-up {
  padding: 25px 99px;
}
input[type="text"] {
	  width: 78%;
  background: #f9f9f9 url(../images/msg.png)no-repeat 256px 16px;
}
input[type="password"] {
	  width: 78%;
  background: #f9f9f9 url(../images/key.png)no-repeat 259px 10px;
}
input[type="submit"] {
  width: 99%;
}
}
@media (max-width:375px){
	ul.top-sc-icons li button {
	    padding: 27px 25px 21px 24px;
	}
	.login-form h2 {
	  margin: 20px 20px;
	}
	h1 {
	  padding-top: 1em;
	}
	.login-form {
	  width: 90%;
	}
	.sign-up {
	  padding: 25px 91px;
	}
}
@media (max-width:414px){
	ul.top-sc-icons li button {
	    padding: 27px 25px 21px 24px;
	}
	.login-form h2 {
	   margin: 19px 7px;
       font-size: 1.3em;
	}
	h1 {
	  padding-top: 1em;
	}
	.login-form {
	  width: 90%;
	}
	.sign-up {
	  padding: 25px 91px;
	}
}
@media (max-width:320px){
	.form-top {
	  padding: .7em;
	}
	h1 {
  padding-top: 2em;
    font-size: 1.3em;
}
	.login-form {
  width: 90%;
  padding: 0;
  margin: 1em auto;
	}
	.login-form h2 {
  font-size: 1em;
  margin: 16px 11px;
	}
	ul.top-sc-icons li button {
   padding: 21px 20px 12px 20px;
  display: block;
}
.top-form {
  height: 55px;
  }
button.gp:hover {
    padding: 21px 20px 12px 20px;
  }
	input[type="text"] {
width: 75%;
  background: #f9f9f9 url(../images/msg.png)no-repeat 223px 15px;
  margin: 0;
}
input[type="password"] {
  width: 75%;
   background: #f9f9f9 url(../images/key.png)no-repeat 223px 11px;
    margin: 18px 0 18px 0;
}
input[type="submit"] {
  font-size: 16px;
    width: 100%;
      padding: 13px 0px;
}
.sign-up {
      padding: 12px 12px;
  margin-top: 1em;
}
.bottom-form {
  min-height: 270px;
  }
  .copyrights {
    padding: 1em 0;
}
