<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body ng-init="names=['Aldo','Jose','Paco']">
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
      <ul>
      	<li ng-repeat= "nombre in names|filter:yourName">{{nombre}}</li>
      </ul>
    </div>
  </body>
</html>