<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("http://api.rtve.es/api/noticias.json").then(function (response) {
      $scope.myData = response.data.page.items;
  });
});
</script>
<div ng-app="myApp" ng-controller="customersCtrl"> 
Id: <input type="text" ng-model="id" /> {{id}}
<table border="1">
	<th>Id</th>
	<th>Titulo</th>
	<th>Referencia de Categoria</th>
  <tr ng-repeat="x in myData |filter: id| orderBy: x.id ">
    <td>{{ x.id }}</td> <td>{{ x.longTitle}}</td> <td>{{ x.mainCategoryRef}}</td>
  </tr>
</table>
</div>

</body>
</html>
