<div class="row">
	<label class="col l2 s10">Pregunta :</label>
	<input class="col l8 s10" type="text" name="preguntas[]" required=""/>
	
</div>
<div class="row">
	<label class="col l2 s10">Opcion 1 :</label>
	<input type="checkbox" name="correcta[]" value="1" required=""/>
	<input  class="col l8 s10" type="text" name="opcion1[]" required=""/>
</div>
<div class="row">
	<label class="col l2 s10">Opcion 2 :</label>
	<input type="checkbox" name="correcta[]" value="2" required=""/>
	<input class="col l8 s10" type="text" name="opcion2[]" required=""/>
</div>
<div class="row">
	<label class="col l2 s10">Opcion 3 :</label>
	<input type="checkbox" name="correcta[]" value="3" required=""/>
	<input class="col l8 s10" type="text" name="opcion3[]" required=""/>
</div>
	