table{
	background: white;
	height: 500px;
	min-height: 500px;
	max-height: 500px;
	width: 100%;
	border: 1px solid gray;
}

tr > th {
    background-color: black;
    color: white;
    text-align: center;
}

tr:not(th):hover {background-color: #9BB4CB}

.mensaje{
	background: #9BB4CB; 	
}
tbody .ui-selecting > td{ background: #9BB4CB; }
tbody .ui-selected > td{ background: #9BB4CB;}
tbody tr { margin: 3px; padding: 0.4em; height: 18px; }
