.separador{
	border-bottom: 1px solid gray;
	width: 100%;
	display: block;
	margin-top: 2px;
}

.animate.ng-enter, 
.animate.ng-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate.ng-enter.animate-enter-active, 
.animate.ng-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate.ng-leave.animate-leave-active,
.animate.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

.reveal-animation.ng-enter{
	-webkit-transition:1.5s linear all;
  transition:1.5s linear all;
}

.reveal-animation.ng-leave {
  -webkit-transition:0.1s linear all;
  transition:0.1s linear all;
}

.reveal-animation.ng-enter {
  opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.reveal-animation.ng-leave {
  opacity: 1;
}

.reveal-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

h2,h4 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
