* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#form { background: #fff;margin-left: 41px;width: 93%; position: static; bottom: 0; padding: 5px;}
#form > input { border: 0; width: 85%; margin: .5%; }
#users {list-style-type: none; margin: 0; padding: 0; width: 20%;overflow: scroll; overflow-y:auto;overflow-x: hidden }
#users li { padding: 10px 0px;}
#chat_global { list-style-type: none; margin: 0; padding: 0; width: 100%;float: left;}
#chat_global li { padding: 5px 10px; }
#chat_global li:nth-child(odd) { background: #eee; }
#toast-container{position: absolute !important; top:52% !important;left: -30% !important;}
#d_mensajes{
    padding: 15px;
    margin: 0px 40px 0px;
    overflow: scroll !important;
    overflow-y:auto;
    overflow-x: hidden; 
}

#d_users{
    padding: 15px;
    margin: 0px 0px 0px -20px;
}

#rooms{
	background: rgb(0, 140, 255);
	height: 50px;
    margin: 15px 40px 0px;
    padding: 7px;
}

#rooms > ul{
	list-style: none;
}

#rooms > ul > li{
	display: inline;
	margin: 5px;	
}

#logo_chat{
	height: 50px;
	margin: 10px 0px 0px 50%;
}
